.imageSize{ width:300px; 
                height:auto; }
.price{ color: #ff2000;}  

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}